USE [Сапожников3]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 15.05.2023 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код_заказа] [int] NOT NULL,
	[Дата_создания] [date] NULL,
	[Время_заказа] [time](7) NULL,
	[Код_клиента] [int] NULL,
	[Статус] [nvarchar](50) NULL,
	[Дата_закрытия] [date] NULL,
	[Время_проката] [nvarchar](50) NULL,
	[Код_сотрудника] [int] NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Код_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 15.05.2023 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Код_клиента] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Серия_паспорта] [nvarchar](4) NULL,
	[Номер_паспорта] [nvarchar](6) NULL,
	[Дата_рождения] [date] NULL,
	[Адрес] [nvarchar](255) NULL,
	[e_mail] [nvarchar](255) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 15.05.2023 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код_роли] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 15.05.2023 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код_сотрудника] [int] NOT NULL,
	[Код_роли] [int] NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний_вход] [nvarchar](255) NULL,
	[Тип_входа] [nvarchar](255) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 15.05.2023 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[Код_услуги] [int] NOT NULL,
	[Наименование_услуги] [nvarchar](255) NULL,
	[Стоимость] [money] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 15.05.2023 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[ID] [int] NULL,
	[Код_заказа] [int] NULL,
	[Код_услуги] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_заказа], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката], [Код_сотрудника]) VALUES (1, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, N'Новая', NULL, N'120 минут', 101)
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_заказа], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката], [Код_сотрудника]) VALUES (2, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, N'В прокате', NULL, N'600 минут', 101)
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_заказа], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката], [Код_сотрудника]) VALUES (3, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, N'В прокате', NULL, N'120 минут', 101)
GO
INSERT [dbo].[Клиенты] ([Код_клиента], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [e_mail]) VALUES (45462526, N'Фролов', N'Андрей', N'Иванович', N'1180', N'176596', CAST(N'2001-07-14' AS Date), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com')
INSERT [dbo].[Клиенты] ([Код_клиента], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [e_mail]) VALUES (45462527, N'Николаев', N'Даниил', N'Всеволодович', N'2280', N'223523', CAST(N'2001-02-10' AS Date), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com')
INSERT [dbo].[Клиенты] ([Код_клиента], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [e_mail]) VALUES (45462528, N'Снегирев', N'Макар', N'Иванович', N'4560', N'354155', CAST(N'1998-05-21' AS Date), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com')
GO
INSERT [dbo].[Роли] ([Код_роли], [Наименование]) VALUES (1, N'Администратор')
INSERT [dbo].[Роли] ([Код_роли], [Наименование]) VALUES (2, N'Старший смены')
INSERT [dbo].[Роли] ([Код_роли], [Наименование]) VALUES (3, N'Продавец')
GO
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Код_роли], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (101, 3, N'Иванов', N'Иван', N'Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00', N'Успешно')
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Код_роли], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (102, 3, N'Петров', N'Петр', N'Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00', N'Успешно')
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Код_роли], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (103, 1, N'Федоров', N'Федор', N'Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00', N'Успешно')
GO
INSERT [dbo].[Услуги] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (31, N'Прокат опорного оборудования для катка', 500.0000)
INSERT [dbo].[Услуги] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (34, N'Обучение катанию на коньках', 1000.0000)
INSERT [dbo].[Услуги] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (44, N'Прокат салазок', 450.0000)
GO
INSERT [dbo].[Чек] ([ID], [Код_заказа], [Код_услуги]) VALUES (1, 1, 34)
INSERT [dbo].[Чек] ([ID], [Код_заказа], [Код_услуги]) VALUES (2, 1, 31)
INSERT [dbo].[Чек] ([ID], [Код_заказа], [Код_услуги]) VALUES (3, 1, 353)
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты] ([Код_клиента])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Сотрудники] FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код_сотрудника])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Сотрудники]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Роли1] FOREIGN KEY([Код_роли])
REFERENCES [dbo].[Роли] ([Код_роли])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Роли1]
GO
ALTER TABLE [dbo].[Чек]  WITH CHECK ADD  CONSTRAINT [FK_Чек_Заказы] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказы] ([Код_заказа])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Чек] CHECK CONSTRAINT [FK_Чек_Заказы]
GO
ALTER TABLE [dbo].[Чек]  WITH CHECK ADD  CONSTRAINT [FK_Чек_Услуги] FOREIGN KEY([Код_услуги])
REFERENCES [dbo].[Услуги] ([Код_услуги])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Чек] CHECK CONSTRAINT [FK_Чек_Услуги]
GO
